Makefile.in
aclocal.m4
autom4te.cache/
configure
m4/tmp/
src/Makefile.in
test/Makefile.in
Makefile
config.log
config.status
libtool
src/.deps/
src/Makefile
test/test
test/.deps/
test/Makefile
src/.libs
*.la
*.lo
*.log
*.o
*.trs


